/* 投诉详情 start */
.complaint {
  width: 100%;
  height: calc(100vh - 1.23rem);
  padding-bottom: .2rem;
  overflow-y: hidden;
}
.complaint_li {
  width: 100%;
  min-height: 1rem;
  border-bottom: .2rem #eeeeee solid;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: .1rem 0;
}
.complaint_li > div:first-child {
  width: 1.8rem;
  height: 100%;
}
.complaint_li > div:last-child {
  width: 5rem;
  height: 100%;
  line-height: 1.5;
}
/* 投诉详情 end */
