.cont {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.msg_cont {
  height: calc(100vh - 2.22rem);
  overflow-y: auto;
}
/* 信息详情 start */
.msgarea {
  border-top: .2rem #eeeeee solid;
}
.msg_li {
  width: calc(100vw - .48rem);
  padding: .3rem 0.24rem;
  border-bottom: 1px #eeeeee solid;
}
.msg_li > div {
  width: 100%;
  min-height: .8rem;
  line-height: 1.5;
  display: flex;
  justify-content: start;
  align-items: center;
}
.msg_li > div > div:first-child {
  padding-left: .1rem;
}
.msg_li > div > div:last-child {
  width: 5.5rem;
  padding-left: .2rem;
}
/* 信息详情 end */
/* 信息编号 start */
.msgcode {
  width: calc(100vw - .48rem);
  border-top: .2rem #eeeeee solid;
  padding: .3rem .24rem;
}
.msgcode > div:first-child {
  border-bottom: 1px #eeeeee solid;
}
.msgcode > div > div:last-child {
  width: 5rem;
  padding-left: .2rem;
}
/* 信息编号 end */
/* 免责 投诉 start */
.tip_complaint {
  width: calc(100vw - .48rem);
  padding: 0 0.24rem;
  display: flex;
  align-items: center;
  border-top: .2rem #eeeeee solid;
  margin-bottom: 1rem;
}
.complaint {
  width: 1rem;
  height: .4rem;
  padding: .15rem .2rem;
  border: 1px #ff9500 solid;
  border-radius: .06rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 免责 投诉 end */
/* 发布信息 信息列表 查看电话 start */
.msgfooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100vw - .48rem);
  height: 1.2rem;
  padding: 0 .24rem;
  border-top: 1px #eeeeee solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.msgfooter_l {
  width: 5rem;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.msg_btn {
  height: .6rem;
  line-height: .6rem;
  padding: 0 .2rem;
  border: 1px #ff9500 solid;
  border-radius: .06rem;
  margin-right: .2rem;
}
/* 发布信息 信息列表 查看电话 end */
