* {
  font-size: 0.24rem;
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  border: none!important;
  outline: none;
  width: 4.5rem;
}
input {
  padding-left: .2rem;
}
textarea {
  padding: .2rem;
}
li {
  list-style: none;
}
input::-webkit-input-placeholder{
  color:#666!important;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#666!important;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#666!important;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color:#666!important;
}
/* 字体尺寸 start */
.font16 {
  font-size: .16rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font18 {
  font-size: .18rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font20 {
  font-size: .20rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font22 {
  font-size: .22rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font24 {
  font-size: .24rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font26 {
  font-size: .26rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font28 {
  font-size: .28rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font30 {
  font-size: .30rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font32 {
  font-size: .32rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font34 {
  font-size: .34rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font36 {
  font-size: .36rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font38 {
  font-size: .38rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font40 {
  font-size: .40rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font50 {
  font-size: .50rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font60 {
  font-size: .60rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/* 字体尺寸 end */

/* 字体粗细 start */
.font_lighter {
  font-weight: lighter;
}
.font_blod{
  font-weight: bold;
}
.font_bloder {
  font-weight: bolder
}
.font_inherit {
  font-weight: inherit;
}
/* 字体粗细 end */

/* 字体颜色 start */
.color000 {
  color: #000;
}
.color333 {
  color: #333;
}
.color666 {
  color: #666;
}
.color999 {
  color: #999;
}
.coloreeeeee {
  color: #eeeeee;
}
.colorfff {
  color: #fff;
}
.color1470cc {
  color: #1470cc;
}
.coloree410c {
  color: #ee410c;
}
.colorff9500 {
  color: #ff9500;
}
/* 字体颜色 end */

/* 背景颜色 start */
.bgfff {
  background-color: #fff;
}
.bg000_a30 {
  background-color: rgba(0, 0, 0, .5);
}
.bg1470cc {
  background-color: #1470cc;
}
.bgee410c {
  background-color: #ee410c;
}
.bgff9500 {
  background-color: #ff9500;
}
.bgeeeeee {
  background-color: #eeeeee;
}
/* 背景颜色 end */

/* 单行文本溢出隐藏 start */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 单行文本溢出隐藏 end */

/* 布局方式 start */
.fl {
  float: left;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
/* 布局方式 end */
/* 公共样式 start */
.pointer {
  cursor: pointer
}
.container {
  width: 100%;
  overflow: hidden;
}
.cont {
  width: calc(100vw - .48rem);
  padding: 0 0.24rem;
  overflow: hidden;
}
/* 选择 搜索 start */
.search_cont {
  width: 100%;
  z-index: 9999;
}
.search_cont .category {
  width: calc(100vw - .48rem);
  padding: 0 0.24rem;
  height: .90rem;
  border-bottom: 1px #eeeeee solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* 选择 搜索 end */
/* 省市县三级联动 start */
.site {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.site .choose {
  width: 100%;
  height: 60%;
  padding: 0 .4rem 0 .3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site .choose img {
  width: .28rem;
  height: .28rem;
}
.turnimg {
  transform: rotate(180deg);
  transition: transform 0.3s;
}
.pwrap {
  height: 6rem;
  overflow-y: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
.pwrap .distpicker-address-wrapper {
  color: #999;
}
.pwrap .address-header {
  position: fixed;
  bottom: 6rem;
  width: 100%;
  background: #000;
  color: #1470cc;
}
.pwrap .address-header ul li {
  flex-grow: 1;
  text-align: center;
}
.pwrap .address-header .active {
  border-bottom: #666 solid .08rem
}
.pwrap .address-container .active {
  color: #000;
}
/* 省市县三级联动 end */
/* 按钮样式 start */
.nosend_btn {
  width: 1.5rem;
  padding: .15rem 0;
  border-top: 1px #eeeeee solid;
  border-radius: .06rem;
  opacity: .5;
}
.send_border {
  border: 1px #ff9500 solid;
  opacity: 1;
}
/* 按钮样式 end */
/* 底部单独按钮 start */
.btn_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px #eeeeee solid;
}
/* 底部单独按钮 end */
/* 带返回键头部 start */
.tit {
  width: calc(100vw - .48rem);
  padding: 0 0.24rem;
  height: 1rem;
  border-bottom: 1px #eeeeee solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tit .backs {
  width: .5rem;
  height: .5rem;
}
.tit .backs img {
  width: 100%;
  height: 100%;
}
/* 带返回键头部 end */
/* 必填表示 start */
.tip {
  width: .26rem;
  height: .26rem;
  margin: 0 .1rem;
}
/* 必填表示 end */
/* 富文本编辑器样式修改 start */
.w-e-text-container {
  z-index: 100!important;
}
/* 富文本编辑器样式修改 end */
/* 无数据图片 start */
.nodata {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 无数据图片 end */
/* 公共样式 end */
