* {
  font-size: 0.24rem;
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  border: none!important;
  outline: none;
  width: 4.5rem;
}
textarea {
  padding: .2rem;
}
li {
  list-style: none;
}
/* 字体尺寸 start */
.font16 {
  font-size: .16rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font18 {
  font-size: .18rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font20 {
  font-size: .20rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font22 {
  font-size: .22rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font24 {
  font-size: .24rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font26 {
  font-size: .26rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font28 {
  font-size: .28rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font30 {
  font-size: .30rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font32 {
  font-size: .32rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font34 {
  font-size: .34rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font36 {
  font-size: .36rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font38 {
  font-size: .38rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.font40 {
  font-size: .40rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/* 字体尺寸 end */

/* 字体粗细 start */
.font_lighter {
  font-weight: lighter;
}
.font_blod{
  font-weight: bold;
}
.font_bloder {
  font-weight: bolder
}
.font_inherit {
  font-weight: inherit;
}
/* 字体粗细 end */

/* 字体颜色 start */
.color000 {
  color: #000;
}
.color333 {
  color: #333;
}
.color666 {
  color: #666;
}
.color999 {
  color: #999;
}
.colorcecece {
  color: #cecece;
}
.colore7e7e7 {
  color: #e7e7e7;
}
.colorfff {
  color: #fff;
}
.color1470cc {
  color: #1470cc;
}
.coloree410c {
  color: #ee410c;
}
.colorff9500 {
  color: #ff9500;
}
/* 字体颜色 end */

/* 背景颜色 start */
.bgfff {
  background-color: #fff;
}
.bg000_a30 {
  background-color: rgba(0, 0, 0, .5);
}
.bg1470cc {
  background-color: #1470cc;
}
.bgee410c {
  background-color: #ee410c;
}
.bgff9500 {
  background-color: #ff9500;
}
.bgcecece {
  background-color: #cecece;
}
.bge7e7e7 {
  background-color: #e7e7e7;
}
/* 背景颜色 end */

/* 单行文本溢出隐藏 start */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 单行文本溢出隐藏 end */

/* 布局方式 start */
.fl {
  float: left;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
/* 布局方式 end */
/* 省市县三级联动 start */
.site {
  height: 100%;
}
.site .choose {
  width: 1.7rem;
  height: 100%;
  padding: 0 .4rem 0 .3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site .choose img {
  width: .28rem;
  height: .28rem;
}
.turnimg {
  transform: rotate(180deg);
  transition: transform 0.3s;
}
.pwrap {
  height: 6rem;
  overflow-y: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
.pwrap .distpicker-address-wrapper {
  color: #999;
}
.pwrap .address-header {
  position: fixed;
  bottom: 6rem;
  width: 100%;
  background: #000;
  color: #fff;
}
.pwrap .address-header ul li {
  flex-grow: 1;
  text-align: center;
}
.pwrap .address-header .active {
  color: #fff;
  border-bottom: #666 solid .08rem
}
.pwrap .address-container .active {
  color: #000;
}
/* 省市县三级联动 end */
/* 公共样式 start */
.pointer {
  cursor: pointer
}
.container {
  width: 7.02rem;
  padding: 0 .24rem;
  overflow: hidden;
}
.list_cont {
  width: 100%;
  height: calc(100vh - 2.72rem);
}
/* 选择 搜索 start */
.search_cont {
  width: 100%;
  z-index: 9999;
}
.search_cont .category {
  width: 100%;
  height: .90rem;
  border-bottom: .01rem #cecece solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* 选择 搜索 end */
/* 公共样式 end */
