/* 发布内容 start */
.send_cont {
  width: 100%;
  height: calc(100vh - 2.22rem);
  overflow: hidden;
  overflow-y: auto;
}
.send_cont ul {
  width: 100%;
}
.send_li {
  width: calc(100vw - .48rem);
  padding: 0 0.24rem;
  min-height: 1rem;
  border-bottom: .2rem #eeeeee solid;
  display: flex;
  justify-content: start;
  align-items: center;
}
.send_li:last-child {
  border: none;
}
.send_val {
  width: 60%;
  padding: .2rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
/* 地区选择 start */
.site_box {
  width: 4.1rem;
  height: 100%;
}
/* 地区选择 end */
/* 发布内容 end */
