/* 选择 搜索 start */
.search_cont {
  width: 100%;
  height: 1.82rem;
}
.search_cont .category {
  width: 100%;
  height: .80rem;
  border-bottom: .01rem #cecece solid;
}
.search_cont .category .selected_options {
  padding: 0 .4rem;
  border: none;
  border-right: .01rem #cecece solid;
  height: .40rem;
  line-height: .40rem;
  margin: .25rem 0;
  outline: none;
}
.search_cont .category .selected_options:last-child {
  border: none;
}
.search_cont .search {
  width: 100%;
  height: .60rem;
  padding: .15rem 0;
  border-bottom: .01rem #cecece solid;
}
.search_cont .search .search_input {
  width: 60%;
  height: 100%;
  border-radius: .45rem;
  border: .01rem #cecece solid;
  padding: 0 .40rem;
}
.search_cont .search .search_btn {
  width: 1.50rem;
  height: .60rem;
  line-height: .60rem;
  border: .01rem #cecece solid;
  border-radius: .06rem;
  outline: none;
}
.search_input input {
  width: 80%;
  height: .48rem;
  border: none;
  margin-top: .02rem;
  outline: none;
}
.search_input img {
  width: .40rem;
  height: .40rem;
  margin-top: .15rem;
}
/* 选择 搜索 end */
/* 商铺列表 */
.shopslist {
  width: 100%;
  margin: 0;
  height: 11.8rem;
  overflow-y: auto;
}
.shopslist .shopinfo {
  width: 100%;
  padding: .20rem .10rem;
}
.shopinfo .shoptit {
  width: 100%;
  height: 1.40rem;

}
.shopinfo .shopimg {
  width: 1.40rem;
  height: 1.40rem;
  border-radius: .14rem;
  overflow: hidden;
}
.shopinfo .shopimg img {
  width: 100%;
  height: 100%;
}
.shopinfo .shopname {
  width: 5.30rem;
  margin-right: .20rem;
}
.shopinfo .shopname .vip_name {
  width: 100%;
  overflow: hidden;
}
.shopinfo .shopname .name {
  width: 4.70rem;
}
.shopinfo .shopcategory {
  display: inline-block;
  padding: .04rem .16rem;
  border-radius: .20rem;
}
.shopinfo .shopname .areabox {
  width: 100%;
}
.shopinfo .shopname .area {
  width: .24rem;
  height: .24rem;
  margin-right: .06rem;
}
.shopinfo .vipclass {
  width: .40rem;
  height: .40rem;
  border-radius: 50%;
  margin-right: .10rem;
}
.shopinfo .shoptags {
  padding: .10rem .04rem;
}
.shopinfo .tags {
  display: inline-block;
  padding: .02rem .08rem;
  margin-right: .20rem;
  border-radius: .14rem;
}
.shopinfo .shopdes {
  padding: .10rem 0;
}
/* 商铺列表 end */
