/* 选择 搜索 start */
.search_cont .search {
  width: 100%;
  height: .70rem;
  padding: .15rem 0;
  border-bottom: .01rem #cecece solid;
}
.search_cont .search .search_input {
  width: 60%;
  height: 100%;
  border-radius: .45rem;
  border: .01rem #cecece solid;
  padding: 0 .40rem;
}
.search_cont .search .search_btn {
  width: 1.50rem;
  height: .60rem;
  line-height: .60rem;
  border: .01rem #cecece solid;
  border-radius: .06rem;
  outline: none;
}
.search_input input {
  width: 80%;
  height: .48rem;
  border: none;
  margin-top: .08rem;
  outline: none;
}
.search_input img {
  width: .40rem;
  height: .40rem;
  margin-top: .15rem;
}
/* 选择 搜索 end */
/* 下拉刷新动画 start */
.loading {
  top: 3.33rem;
  height: calc(100vh - 4.64rem);
}
/* 下拉刷新动画 end */

