/* 下拉刷新动画 start */
.loading {
  top: 2.32rem;
  height: calc(100vh - 3.53rem);
}
/* 下拉刷新动画 end */
/* 地区三级联动 start */
.site_box {
  border-left: 1px #eeeeee solid;
}
.search_cont .category > div {
  width: 50%;
}
/* 地区三级联动 end */
/* 信息列表 start */
.msglist {
  width: 100%;
  height: calc(100vh - 3.53rem);
}
/* 信息列表 end */

