/* 商铺列表 */
.wrapper {
  width: 100%;
  margin: 0;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.shopslist {
  width: 100%;
  height: auto;
}
.shopslist > li {
  padding: 0 .24rem;
  border-bottom: .2rem #eeeeee solid;
}
.shopslist .shopinfo {
  width: 100%;
  padding: .20rem 0;
}
.shopinfo .shoptit {
  width: 100%;
  height: 1.40rem;
  padding: .1rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
.shopinfo .shopimg {
  width: 1.40rem;
  height: 1.40rem;
  border-radius: .14rem;
  overflow: hidden;
  margin-right: .2rem;
}
.shopinfo .shopimg img {
  width: 100%;
  height: 100%;
}
.shopinfo .shopname {
  width: 5.30rem;
  height: 100%;
  margin-right: .20rem;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}
.shopinfo .shopname .vip_name {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}
.shopinfo .shopname .name {
  width: 4.50rem;
}
.shopinfo .shopclassify {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.shopinfo .shopcategory {
  display: inline-block;
  margin: .1rem 0 .1rem .2rem;
  padding: .04rem .16rem;
  border-radius: .20rem;
}
.shopinfo .shopname .areabox {
  width: 100%;
}
.shopinfo .shopname .area_box {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.shopinfo .shopname .area_box span {
  height: 100%;
}
.shopinfo .shopname .area {
  width: .28rem;
  height: .28rem;
}
.shopinfo .vipclass {
  width: .40rem;
  height: .40rem;
  border-radius: 50%;
  margin-right: .2rem;
}
.shopinfo .tags {
  display: inline-block;
  padding: .06rem .2rem;
  margin: .1rem .2rem .1rem 0;
  border-radius: .2rem;
}
.shopinfo .shopdes {
  padding: .10rem 0;
}
/* 商铺列表 end */
