.checkbtn {
  padding: .15rem .2rem;
  border: 1px #ff9500 solid;
  border-radius: .06rem;
}
.paybox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  z-index: 9999;
}
.closebtn {
  position: absolute;
  top: .2rem;
  right: .2rem;
  padding: .2rem;
  border: 1px #ff9500 solid;
  border-radius: .3rem;
}
.paytit {
  width: calc(100vw - .4rem);
  height: .4rem;
  line-height: .4rem;
  padding: .2rem;
  border-radius: .3rem .3rem 0 0;
}
.paymsg {
  width: calc(100vw - .4rem);
  height: 5rem;
  padding: .2rem;
  border-radius: 0 0 .3rem .3rem;
  display: flex;
  justify-content: space-around;
}
.paymsg > div {
  width: 35%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.paymsg .city {
  border-left: 1px #e7e7e7 dashed;
  padding-left: .2rem;
  width: 60%;
}
.classify {
  padding: .18rem;
}
.sendbtn {
  margin: .4rem 0;
  padding: .2rem .8rem;
  border-radius: .4rem;
  border: 1px #ff9500 solid;
}
